.card {
    background-color: antiquewhite;
    border-radius: 15px;
    overflow: hidden;
    padding: 0% 3%;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vh;
    width: 65%;
}

.card .title {
    text-align: center;
    background-color: #ECB88A;
    box-sizing: border-box;
    font-weight: 800;
    margin-block-start: 0px;
    border-radius: 0px 0px 5px 5px;
    margin-block-end: 0em;
}